#tabzilla {
    float: right;
    display: block;
    background: url(../img/tab.png);
    height: 44px;
    width: 150px;
    position: relative;
    text-indent: -2000px;
    overflow: hidden;
    z-index: 999;
}

#tabzilla:after {
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX%2F%2F%2F9ISEhr7AOpAAAAAXRSTlMAQObYZgAAACVJREFUCNdjYEACHAIMMhYMdjUM8j8Y%2BD8wsD9gYD7AwNiArAQAd4oFaCu14IQAAAAASUVORK5CYII%3D);
    content: " ";
    position: absolute;
    height: 16px;
    width: 16px;
    top: 11px;
    right: 23px;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
}

#tabzilla.tabzilla-opened:after {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Tab panel */
#tabzilla-panel {
    height: 0;
    background: #fff;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3;
    font-size: 14px;
    color: #484848;
    position: relative;
    overflow: hidden;
    direction: ltr;
    zoom: 1;
}

#tabzilla-panel:focus {
    outline:none;
}

#tabzilla-contents {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: left;
    position: relative;
    display:none;
}

#tabzilla-panel.open #tabzilla-contents {
    display: block;
}

* html #tabzilla-contents             { zoom: 1; } /* IE6 */
*:first-child+html #tabzilla-contents { zoom: 1; } /* IE7 */

#tabzilla-contents:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#tabzilla-promo {
    float: left;
    display: inline;
    width: 200px;
    height: 65px;
    margin: 0 10px;
    background: #94a613;
    position: relative;
    font-size: 13px;
    line-height: 1.5;
}

#tabzilla-promo .snippet {
    padding: 20px;
}
#tabzilla-panel #tabzilla-nav {
    float: left;
    display: inline;
    width: 620px;
    margin: 0 10px;
}

#tabzilla-promo .snippet h4 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
#tabzilla-panel a {
    color: #484848;
    display: block;
    float: left;
    padding: 10px 15px;
    outline: 0;
}

#tabzilla-panel a,
#tabzilla-panel a:link,
#tabzilla-panel a:visited {
    text-decoration: none;
}

#tabzilla-panel a:hover,
#tabzilla-panel a:active,
#tabzilla-panel a:focus {
    text-decoration: underline;
}

#tabzilla-promo .snippet {
    padding: 18px;
}

#list{
    padding: 0 5px;
}
@media only screen and (min-width: 720px) and (max-width: 979px) {

    #tabzilla-contents {
        width: 90%;
        margin: 0 5%;
        padding: 0;
        position: static;
    }

    #tabzilla-promo {
        display: none;
    }

    #tabzilla-panel #tabzilla-nav {
        width: 100%;
    }

    #tabzilla-panel #tabzilla-nav ul li {
        margin-bottom: 40px;
    }

}

@media only screen and (max-width: 719px) {
    #tabzilla-contents {
        width: 100%;
        position: static;
        margin-left: 0;
        padding: 0;
    }
    #tabzilla-promo {
        display: none;
    }
    #tabzilla-panel #tabzilla-nav {
        width: 100%;
        margin: 0;
    }
    #tabzilla-panel #tabzilla-nav ul li {
        display: block;
        float: none;
        width: auto;
        margin: 0;
        border-top: 1px solid #eee;
    }
}
